﻿@using System.Globalization;
@using Nebo24.Helpers;
@model Nebo24.ViewModels.AirportViewModel


@{
    ViewBag.Title = Model.Airport.Name;
}

<div class="header">
    @if (User.Identity.IsAuthenticated)
    {
        <a href="@Url.Action("Edit", "Airport", new { id = Model.Airport.AirportID })" class="btn btn-primary pull-right">
            <span class="glyphicon glyphicon-edit"></span> @Resources.Label.Edit
        </a>
    }

    <h2>@ViewBag.Title</h2>
</div>

<div class="col-md-4">
    <h3>
        @Resources.Domain.AirportInformation
    </h3>

    <dl class="dl-horizontal">
        <dt>IATA</dt>
        <dd>
            @Model.Airport.IATA
        </dd>
        <dt><span class="glyphicon glyphicon-globe"></span> @Resources.Domain.Location</dt>
        <dd>
            @Model.Airport.AdmLoc.Location
        </dd>
        <dt>
            <span class="glyphicon glyphicon-export"></span> 
            @Resources.Domain.Departures
        </dt>
        <dd>
            @Model.Departures.CommercialFlights.Count()
        </dd>
        <dd>
            @Resources.Domain.AverageDelays 
            @if (Model.AverageDepartureDelay != 0)
            {
                <span class="label label-warning">
                    @Model.AverageDepartureDelay m
                </span>
            }
            else
            {
                <span class="label label-success">
                    @Resources.Domain.NoDelays
                </span>
            }
        </dd>
        <dt>
            <span class="glyphicon glyphicon-import"></span> 
            @Resources.Domain.Arrivals
        </dt>
        <dd>
            @Model.Arrivals.CommercialFlights.Count()
        </dd>
        <dd>
            @Resources.Domain.AverageDelays
            @if (Model.AverageArrivalDelay != 0)
            {
                <span class="label label-warning">
                    @Model.AverageArrivalDelay m
                </span>
            }
            else
            {
                <span class="label label-success">
                    @Resources.Domain.NoDelays
                </span>
            }
        </dd>
    </dl>
</div>

<div id="small-map" class="col-md-8" style="height: 100%; min-height: 300px"></div>

<ul class="nav nav-tabs">
    <li class="active">
        <a href="#departures" data-toggle="tab">
            <h5>
                @Resources.Domain.Departures
            </h5>
        </a>
    </li>
    <li>
        <a href="#arrivals" data-toggle="tab">
            <h5>
                @Resources.Domain.Arrivals
            </h5>
        </a>
    </li>
</ul>

@Html.Partial("~/Views/Shared/_FlightsFilterPartial.cshtml", Model.Filter)

<div class="tab-content col-xs-12">
    <div id="departures" class="tab-pane in active">

        @Html.Partial("~/Views/Shared/_FlightsPartial.cshtml", Model.Departures)

    </div>
    <div id="arrivals" class="tab-pane in">

        @Html.Partial("~/Views/Shared/_FlightsPartial.cshtml", Model.Arrivals)

    </div>
</div>

@section Scripts
{
    <script>
        function initMap() {
            @if (Model.Airport.GeoLoc != null)
            {
                <text>
                    var LatLng = { lat: @Model.Airport.GeoLoc.Latitude.ToString(CultureInfo.InvariantCulture), lng: @Model.Airport.GeoLoc.Longitude.ToString(CultureInfo.InvariantCulture) };
                </text>
            }
            else
            {
                <text>
                    var LatLng = { lat: 0, lng: 0};
                </text>
            }
            var mapOptions = {
            zoom: 4,
                center: LatLng,
                disableDefaultUI: true
            }
            var map = new google.maps.Map(document.getElementById("small-map"),
                 mapOptions);
            var marker = new google.maps.Marker({
                position: LatLng,
                map: map,
                title: '@Model.Airport.Name, @Model.Airport.AdmLoc.Location'
            });
        }
        $(document).ready(initMap);

        $(document).ready(function() {
            if (location.hash !== '') $('a[href="' + location.hash + '"]').tab('show');
            return $('a[data-toggle="tab"]').on('shown', function(e) {
                return location.hash = $(e.target).attr('href').substr(1);
            });
        });

    </script>


    @Scripts.Render("~/Scripts/timespan.js")

    <script>
        initializeTimeSpan(false, '@CultureDateTimeFormat.ShortDateTimePattern()');
    </script>
}