﻿@model Nebo24.Models.Airport
@using System.Globalization;

@{
    if (ViewBag.Editing == null)
    {
        ViewBag.Title = Resources.Label.CreateAirport;
    }
    else
    {
        ViewBag.Title = Resources.Domain.Airport + ": " + Model.Name;
    }
}

<h2>@ViewBag.Title</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.Partial("~/Views/Shared/_ValidationSummaryPartial.cshtml")

        <fieldset class="col-sm-6">
            <legend>@Resources.Domain.AirportInformation</legend>
            <div class="form-group">
                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.IATA, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.IATA, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.IATA, "", new { @class = "text-danger" })
                </div>
            </div>
        </fieldset>

        <fieldset class="col-sm-6">
            <legend>@Resources.Domain.AdministrativeLocation</legend>
            @Html.LabelFor(model => model.AdministrativeLocationID, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="form-group col-md-8">
                @Html.DropDownList("AdministrativeLocationID", null, new { @class = "form-control col-md-offset-2" })
                @Html.ValidationMessageFor(model => model.AdministrativeLocationID, "", new { @class = "text-danger" })
            </div>
        </fieldset>

        <fieldset class="col-sm-12">
            <legend>@Resources.Domain.GeographicalLocation</legend>
            <div class="col-sm-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.GeoLoc.Latitude, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.GeoLoc.Latitude, new { htmlAttributes = new { @class = "form-control", maxlength = "20" } })
                        @Html.ValidationMessageFor(model => model.GeoLoc.Latitude, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.GeoLoc.Longitude, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.GeoLoc.Longitude, new { htmlAttributes = new { @class = "form-control", maxlength = "20" } })
                        @Html.ValidationMessageFor(model => model.GeoLoc.Longitude, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div id="small-map" class="col-sm-6"></div>
        </fieldset>

        @Html.Partial("~/Views/Shared/_BackSaveDiscardButtonsPartial.cshtml")

    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/small-map-editor.js")
    <script>
        @if (Model.GeoLoc != null)
        {
            <text>
                $(document).ready(initMap(@Model.GeoLoc.Latitude.ToString(CultureInfo.InvariantCulture), @Model.GeoLoc.Longitude.ToString(CultureInfo.InvariantCulture)));
            </text>
        }
        else
        {
            <text>
                $(document).ready(initMap(0, 0));
            </text>
        }
    </script>
}






