﻿@model Nebo24.ViewModels.CommercialFlightViewModel
@using System.Globalization;

@{
    ViewBag.Title = Resources.Domain.Flight + ": " + Model.CommercialFlight.Number + " (" + Model.CommercialFlight.Callsign + ")";
}

<div class="header">
    @if (User.Identity.IsAuthenticated)
    {
        <a href="@Url.Action("Edit", "CommercialFlight", new { id = Model.CommercialFlight.FlightID })" class="btn btn-primary pull-right">
            <span class="glyphicon glyphicon-edit"></span> @Resources.Label.Edit
        </a>
    }

    <h2>@ViewBag.Title</h2>
</div>

<div class="well col-xs-12 col-sm-6" style="min-height: 250px">
    <dl>
        <dt class="col-xs-6">
            @Resources.Domain.FlightNumber
        </dt>
        <dd class="col-xs-6">
            @Model.CommercialFlight.Number
        </dd>
        <dt class="col-xs-6">
            @Resources.Domain.Callsign
        </dt>
        <dd class="col-xs-6">
            @Model.CommercialFlight.Callsign
        </dd>
        <dt>
            <span class="glyphicon glyphicon-plane"></span>
            @Resources.Domain.Airplane
        </dt>
        <dd class="col-xs-6">
            @Resources.Domain.AirplaneType
        </dd>
        <dd class="col-xs-6">
            <a href="@Url.Action("Details", "AirplaneType", new { id = Model.CommercialFlight.Airplane.Type.AirplaneTypeID })">
                @Model.CommercialFlight.Airplane.Type.Name
            </a>
        </dd>
        <dd class="col-xs-6">
            @Resources.Domain.AirplaneRegistration
        </dd>
        <dd class="col-xs-6">
            @Model.CommercialFlight.Airplane.Registration
        </dd>
        <dt class="col-xs-6">
            @Resources.Domain.FlightStatus
        </dt>
        <dd class="col-xs-6">
            @Html.Partial("~/Views/Shared/_FlightStatusPartial.cshtml", Model.CommercialFlight)
        </dd>
        <dt>
            @Resources.Domain.Company
        </dt>
        <dd class="col-xs-6">
            @Resources.Domain.CompanyName
        </dd>
        <dd class="col-xs-6">
            <a href="@Url.Action("Details", "Company", new { id = Model.CommercialFlight.Airplane.CompanyID })">
                @Model.CommercialFlight.Airplane.Company.Name
            </a>
        </dd>
        <dd class="col-xs-6">
            <span class="glyphicon glyphicon-globe"></span>
            @Resources.Domain.HeadquartersLocation
        </dd>
        <dd class="col-xs-6">
            @Model.CommercialFlight.Airplane.Company.HeadquartersAdmLoc.Location
        </dd>
    </dl>
</div>

<div id="small-map" class="col-xs-12 col-sm-6" style="height: 100%; min-height: 250px"></div>

<div>
    <table class="table table-responsive col-md-6">
        <thead class="">
            <tr>
                <th>

                </th>
                <th>
                    <span class="glyphicon glyphicon-export"></span>
                    @Resources.Domain.Departure
                </th>
                <th>
                    <span class="glyphicon glyphicon-import"></span>
                    @Resources.Domain.Arrival
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>
                    <span class="glyphicon glyphicon-globe"></span>
                    @Resources.Domain.Airports
                </th>
                <th>
                    @Resources.Domain.DepartureAirport
                </th>
                <th>
                    @Resources.Domain.DestinationAirport
                </th>
            </tr>
            <tr>
                <th>
                    @Resources.Domain.AirportName
                </th>
                <td>
                    <a href="@Url.Action("Details", "Airport", new { id = Model.DepartureAirport.AirportID })">
                        @Model.DepartureAirport.Name
                    </a>
                </td>
                <td>
                    <a href="@Url.Action("Details", "Airport", new { id = Model.DestinationAirport.AirportID })">
                        @Model.DestinationAirport.Name
                    </a>
                </td>
            </tr>
            <tr>
                <th>
                    @Resources.Domain.AdministrativeLocation
                </th>
                <td>
                    @Model.DepartureAirport.AdmLoc.Location
                </td>
                <td>
                    @Model.DestinationAirport.AdmLoc.Location
                </td>
            </tr>

            <tr>
                <th>
                    <span class="glyphicon glyphicon-time"></span>
                    @Resources.Domain.Times
                </th>
                <th>
                    @Resources.Domain.DepartureTime
                </th>
                <th>
                    @Resources.Domain.ArrivalTime
                </th>
            </tr>
        <tbody>
            <tr>
                <th>
                    @Resources.Domain.Scheduled
                </th>
                <td>
                    @Model.CommercialFlight.STD
                </td>
                <td>
                    @Model.CommercialFlight.STA
                </td>
            </tr>
            <tr>
                <th>
                    @Resources.Domain.Actual
                </th>
                <td>
                    @Model.CommercialFlight.ATD
                </td>
                <td>
                    @Model.CommercialFlight.ATA
                </td>
            </tr>
        </tbody>
    </table>

</div>

@section Scripts
{
    <script>
        function initMap() {
            @if (Model.DepartureAirport == null || Model.DestinationAirport == null)
            {
                 <text>
                    var LatLng1;
                    var LatLng2;
                    LatLng1 = LatLng2 = {lat: 0, lng: 0};
                </text>
            }
            else {
                <text>
                    var LatLng1 = { lat: @Model.DepartureAirport.GeoLoc.Latitude.ToString(CultureInfo.InvariantCulture), lng: @Model.DepartureAirport.GeoLoc.Longitude.ToString(CultureInfo.InvariantCulture) };
                    var LatLng2 = { lat: @Model.DestinationAirport.GeoLoc.Latitude.ToString(CultureInfo.InvariantCulture), lng:  @Model.DestinationAirport.GeoLoc.Longitude.ToString(CultureInfo.InvariantCulture) };
                </text>
            }

            var mapOptions = {
                zoom: 2,
                center: LatLng1,
                disableDefaultUI: true
            }
            var map = new google.maps.Map(document.getElementById("small-map"),
                 mapOptions);
            var marker1 = new google.maps.Marker({
                position: LatLng1,
                map: map,
                label: 'A',
                title: '@Model.DepartureAirport.Name'
            });
            var marker2 = new google.maps.Marker({
                position: LatLng2,
                map: map,
                label: 'B',
                title: '@Model.DestinationAirport.Name'
            })
        }
        $(document).ready(initMap);
    </script>
}
