﻿@using Nebo24.Helpers;
@model Nebo24.Models.CommercialFlight

@{
    if (ViewBag.Editing == null)
    {
        ViewBag.Title = Resources.Label.CreateFlight;
    }
    else
    {
        ViewBag.Title = Resources.Domain.Flight + ": " + Model.Callsign + " (" + Model.Number + ")";
    }
}

<h2>@ViewBag.Title</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    

    <div class="form-horizontal">
        @Html.Partial("~/Views/Shared/_ValidationSummaryPartial.cshtml")

        <fieldset class="col-sm-6">
            <legend>@Resources.Domain.FlightInformation</legend>
            <div class="form-group">
                @Html.LabelFor(model => model.Number, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.Number, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Number, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Callsign, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.Callsign, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Callsign, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.AirplaneID, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.DropDownList("AirplaneID", null, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.AirplaneID, "", new { @class = "text-danger" })
                </div>
            </div>
        </fieldset>

        <fieldset class="col-sm-6 col-md-6">
            <legend>@Resources.Domain.Airports</legend>
            <div class="col-xl-6">
                @Html.LabelFor(model => model.DepartureAirportID, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="form-group col-md-8">
                    @Html.DropDownList("DepartureAirportID", null, new { @class = "form-control col-md-offset-2" })

                    @Html.ValidationMessageFor(model => model.DepartureAirportID, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-xl-6">
                @Html.LabelFor(model => model.DestinationAirportID, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="form-group col-md-8">
                    @Html.DropDownList("DestinationAirportID", null, new { @class = "form-control col-md-offset-2" })

                    @Html.ValidationMessageFor(model => model.DestinationAirportID, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="label label-info col-md-offset-6">
                <span class="xxlarge glyphicon glyphicon-info-sign"></span>
                @Resources.Domain.Distance 
                <span class="large" id="FlightDistanceCalculation">0</span>
                <span class="small">km</span>
            </div>
        </fieldset>

        @Html.Partial("~/Views/Shared/_AirplaneTypeInformationPartial.cshtml")

        <fieldset class="col-sm-12">
            <legend>@Resources.Label.DateAndTime</legend>
            <div class="col-sm-6">
                <div class="header"><h3>@Resources.Domain.DepartureTime</h3></div>
                <div class="form-group">
                    @Html.LabelFor(model => model.STD, htmlAttributes: new { @class = "control-label col-md-5" })
                    <div class="col-md-7">
                        <div class="input-group date" id="STD-input">
                            @Html.EditorFor(model => model.STD, new { htmlAttributes = new { @class = "form-control" } })
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                        @Html.ValidationMessageFor(model => model.STD, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.ATD, htmlAttributes: new { @class = "control-label col-md-5" })
                    <div class="col-md-7">
                        <div class="input-group date" id="ATD-input">
                            @Html.EditorFor(model => model.ATD, new { htmlAttributes = new { @class = "form-control" } })
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                        @Html.ValidationMessageFor(model => model.ATD, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="header"><h3>@Resources.Domain.ArrivalTime</h3></div>
                <div class="form-group">
                    @Html.LabelFor(model => model.STA, htmlAttributes: new { @class = "control-label col-md-5" })
                    <div class="col-md-7">
                        <div class="input-group date" id="STA-input">
                            @Html.EditorFor(model => model.STA, new { htmlAttributes = new { @class = "form-control" } })
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                        @Html.ValidationMessageFor(model => model.STA, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.ATA, htmlAttributes: new { @class = "control-label col-md-5" })
                    <div class="col-md-7">
                        <div class="input-group date" id="ATA-input">
                            @Html.EditorFor(model => model.ATA, new { htmlAttributes = new { @class = "form-control" } })
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                        @Html.ValidationMessageFor(model => model.ATA, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="alert alert-info">
                    <span class="xxlarge glyphicon glyphicon-info-sign"></span> 
                    @Resources.Domain.EstimatedArrivalTime: 
                    <span id="EstimatedArrivalTime" class="large"> - </span>
                    <div>
                        @Resources.Domain.AverageSpeed: 
                        <span id="AverageSpeed"> - </span> <span class="small">km/h</span>
                    </div>
                    <div class="small">
                        @Resources.Domain.EstTABasedOnAvgATSpeed. 
                    </div>
                </div>
                <div class="alert alert-warning">
                    <span class="xxlarge glyphicon glyphicon-warning-sign"></span> 
                    @Resources.Domain.EarlistPossibleArrivalTime: 
                    <span id="EarlistPossibleArrivalTime" class="large"> - </span>
                    <div>
                        @Resources.Domain.MaximumSpeed: 
                        <span id="MaximumSpeed"> - </span> <span class="small">km/h</span>
                    </div>
                    <div class="small">
                        @Resources.Domain.CalculationBasedOnMaxSpeed
                    </div>
                </div>
            </div>
        </fieldset>

        @Html.Partial("~/Views/Shared/_BackSaveDiscardButtonsPartial.cshtml")

    </div>
}


@section Scripts {
    @Scripts.Render("~/Scripts/small-map-editor.js")
    @Scripts.Render("~/Scripts/distance-calculator.js")
    <script>

        var STD = $('#STD-input');
        var STA = $('#STA-input');
        var ATD = $('#ATD-input');
        var ATA = $('#ATA-input');

        var format = '@CultureDateTimeFormat.ShortDateTimePattern()';

        $(function initializeFlightEditor() {

            var dateMinimum = new Date();
            dateMinimum.setDate(dateMinimum.getDate() - 30);
            dateMinimum.setHours(0, 0, 0, 0);

            var format = '@CultureDateTimeFormat.ShortDateTimePattern()';
            var language = '@UICulture.ToString()';

            STD.datetimepicker({
                minDate: dateMinimum,
                format: format
            });
            STA.datetimepicker({
                minDate: dateMinimum,
                format: format,
                useCurrent: false //Important! See issue #1075
            });
            ATD.datetimepicker({
                minDate: dateMinimum,
                format: format,
                useCurrent: false
            });
            ATA.datetimepicker({
                minDate: dateMinimum,
                format: format,
                useCurrent: false
            });

            function StdRestrict (date)
            {
                STA.data("DateTimePicker").minDate(date);
                ATD.data("DateTimePicker").minDate(date);
            }
            function StaRestrict (date)
            {
                STD.data("DateTimePicker").maxDate(date);
            }
            function AtdRestrict(date) {
                ATA.data("DateTimePicker").minDate(date);
                STD.data("DateTimePicker").maxDate(date);
            }
            function AtaRestrict(date) {
                STD.data("DateTimePicker").maxDate(date);
                ATD.data("DateTimePicker").maxDate(date);
            }

            STD.on("dp.change", function (e) {
                StdRestrict(e.date);
            });
            STA.on("dp.change", function (e) {
                StaRestrict(e.date);
            });

            ATD.on("dp.change", function (e) {
                AtdRestrict(e.date);
            })
            ATA.on("dp.change", function (e) {
                AtaRestrict(e.date);
            })
        });

        var averageSpeed;
        var maximumSpeed;

    </script>
    @Scripts.Render("~/Scripts/flight-editor-helper.js")
}