﻿@using Nebo24.Helpers;
@model Nebo24.ViewModels.CommercialFlightsViewModel

@{
    ViewBag.Title = Resources.Domain.Flights;
}

<div class="header">
    @if (User.Identity.IsAuthenticated)
    {
        <a href="@Url.Action("Create")" class="btn btn-primary pull-right">
            <span class="glyphicon glyphicon-plus"></span> 
            @Resources.Label.CreateFlight
        </a>
    }

    <h2>@ViewBag.Title</h2>
</div>
@{
    ViewBag.FilterByAirport = true;
    @Html.Partial("~/Views/Shared/_FlightsFilterPartial.cshtml", Model.Filter)
}

@if (Model.CommercialFlights.Count() > 0)
{
    @Html.Partial("~/Views/Shared/_FlightsPartial.cshtml", Model)
}
else {
    <div class="alert alert-info">
        <span class="btn-lg glyphicon glyphicon-info-sign"></span> 
        @Resources.Domain.NoFlightsToShow
    </div>
}

@section Scripts {
    @Scripts.Render("~/Scripts/timespan.js");

    <script>
        initializeTimeSpan(
            @if (!User.Identity.IsAuthenticated)
            {
                <text>
                true,
                </text>
            }
            else {
                <text>
                false,
                </text>
            }

        'MM/DD/YYYY hh:mm A');

        $("#SwapAirportsButton").click(function (e) {
            e.preventDefault();

            //Get the values
            var fromVal = $("#DepartureAirportID option:selected").val();
            var fromText = $("#DepartureAirportID option:selected").text();
            var toVal = $("#DestinationAirportID option:selected").val();
            var toText = $("#DestinationAirportID option:selected").text();

            //Set the values
            $("#DepartureAirportID option:selected").val(toVal);
            $("#DepartureAirportID option:selected").text(toText);
            $("#DestinationAirportID option:selected").val(fromVal);
            $("#DestinationAirportID option:selected").text(fromText);
        });
    </script>
}