﻿@model Nebo24.ViewModels.CompanyDetailsViewModel
@using System.Globalization;

@{
    ViewBag.Title = Model.Company.Name;
}

<div class="header">
    @if (User.Identity.IsAuthenticated)
    {
        <a href="@Url.Action("Edit", "Company", new { id = Model.Company.CompanyID })" class="btn btn-primary pull-right">
            <span class="glyphicon glyphicon-edit"></span> @Resources.Label.Edit
        </a>
    }

    <h2>@ViewBag.Title</h2>
</div>

<div class="col-md-4">
    <h3>
        @Resources.Domain.CompanyInformation
    </h3>

    <dl class="dl-horizontal">
        <dt>@Resources.Domain.HeadquartersLocation</dt>
        <dd>
            @Model.Company.HeadquartersAdmLoc.Location
        </dd>
        <dt>@Resources.Domain.FleetCardinality</dt>
        <dd>@Model.Fleet.Count()</dd>
    </dl>
</div>

<div id="small-map" class="col-md-8" style="height: 100%; min-height: 300px"></div>

<h3>@Resources.Domain.Fleet</h3>

@if (Model.Fleet.Count() > 0)
{
    <div class="col-xs-12">
        @Html.Partial("~/Views/Shared/_AirplanesPartial.cshtml", Model.Fleet)
    </div>
}
else {
    <div class="alert alert-info">
        <span class="btn-lg glyphicon glyphicon-info-sign"></span> 
        @Resources.Domain.NoAirplanesInFleet
    </div>
}

@section Scripts
{
    <script>
        function initMap() {
            var LatLng = { lat: @Model.Company.HeadquartersGeoLoc.Latitude.ToString(CultureInfo.InvariantCulture), lng:  @Model.Company.HeadquartersGeoLoc.Longitude.ToString(CultureInfo.InvariantCulture) }
            var mapOptions = {
                zoom: 4,
                center: LatLng,
                disableDefaultUI: true
            }
            var map = new google.maps.Map(document.getElementById("small-map"),
                 mapOptions);
            var marker = new google.maps.Marker({
                position: LatLng,
                map: map,
                title: '@Model.Company.Name, @Model.Company.HeadquartersAdmLoc.Location'
            });
        }
        $(document).ready(initMap);
    </script>
}