﻿@model Nebo24.Models.Company
@using System.Globalization;

@{
    if (ViewBag.Editing == null)
    {
        ViewBag.Title = "Create company";
    }
    else
    {
        ViewBag.Title = "Company: " + Model.Name;
    }
}

<h2>@ViewBag.Title</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        @Html.Partial("~/Views/Shared/_ValidationSummaryPartial.cshtml")

        <fieldset class="form-group col-sm-6">
            <legend>@Resources.Domain.CompanyInformation</legend>
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </fieldset>

        <fieldset class="form-group col-sm-6">
            <legend>@Resources.Domain.AdministrativeLocation</legend>
            @Html.LabelFor(model => model.HeadquartersAdmLocID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.HeadquartersAdmLocID, (SelectList)ViewBag.AdministrativeLocationID, new { @class = "form-control col-md-offset-2" })
                @Html.ValidationMessageFor(model => model.HeadquartersAdmLocID, "", new { @class = "text-danger" })
            </div>
        </fieldset>

        <fieldset class="col-sm-12">
            <legend>@Resources.Domain.GeographicalLocation</legend>
            <div class="col-sm-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.HeadquartersGeoLoc.Latitude, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-6">
                        @Html.EditorFor(model => model.HeadquartersGeoLoc.Latitude, new { htmlAttributes = new { @class = "form-control", maxlength = "20" } })
                        @Html.ValidationMessageFor(model => model.HeadquartersGeoLoc.Latitude, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.HeadquartersGeoLoc.Longitude, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-6">
                        @Html.EditorFor(model => model.HeadquartersGeoLoc.Longitude, new { htmlAttributes = new { @class = "form-control", maxlength = "20" } })
                        @Html.ValidationMessageFor(model => model.HeadquartersGeoLoc.Longitude, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div id="small-map" class="col-sm-6"></div>
        </fieldset>

        @Html.Partial("~/Views/Shared/_BackSaveDiscardButtonsPartial.cshtml")

    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/small-map-editor.js")
    <script>
        @if(Model.HeadquartersGeoLoc != null)
        {
            <text>
                $(document).ready(initMap(@Model.HeadquartersGeoLoc.Latitude.ToString(CultureInfo.InvariantCulture), @Model.HeadquartersGeoLoc.Longitude.ToString(CultureInfo.InvariantCulture)));
            </text>
        }
        else
        {
            <text>
                $(document).ready(initMap(0,0));
            </text>
        }
    </script>
}


