﻿@model IEnumerable<Nebo24.Models.Company>

@{
    ViewBag.Title = Resources.Domain.Companies;
}

<div class="header">
    @if (User.Identity.IsAuthenticated)
    {
        <a href="@Url.Action("Create")" class="btn btn-primary pull-right">
            <span class="glyphicon glyphicon-plus"></span> @Resources.Label.CreateCompany
        </a>
    }

    <h2>@ViewBag.Title</h2>
</div>

@if (Model.Count() > 0)
{
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>@Resources.Label.Name</th>
                    <th>@Resources.Domain.HeadquartersLocation</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @item.Name
                        </td>
                        <td>
                            @item.HeadquartersAdmLoc.Location
                        </td>
                        <td>
                            <div class="btn-group pull-right">
                                <a href="@Url.Action("Details", "Company", new { id = item.CompanyID })" class="btn btn-info" title="@Resources.Label.Details">
                                    <span class="glyphicon glyphicon-info-sign"></span> 
                                    <span class="hidden-xs hidden-sm">@Resources.Label.Details</span>
                                </a>
                                @if (User.Identity.IsAuthenticated)
                                {
                                    <a href="@Url.Action("Edit", "Company", new { id = item.CompanyID })" class="btn btn-success" title="@Resources.Label.Edit">
                                        <span class="glyphicon glyphicon-edit"></span> 
                                        <span class="hidden-xs hidden-sm">@Resources.Label.Edit</span>
                                    </a>
                                    <a href="@Url.Action("Delete", "Company", new { id = item.CompanyID })" class="btn btn-danger" title="@Resources.Label.Delete">
                                        <span class="glyphicon glyphicon-trash"></span> 
                                        <span class="hidden-xs hidden-sm">@Resources.Label.Delete</span>
                                    </a>
                                }
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
else {
    <div class="alert alert-info">
        <span class="btn-lg glyphicon glyphicon-info-sign"></span> 
        @Resources.Domain.NoCompanies
    </div>
}