﻿@using System.Globalization;
@using Nebo24.Helpers;
@model Nebo24.ViewModels.AirplaneTypeViewModel


@{
    ViewBag.Title = Model.AirplaneType.Name;
}

<div class="header">
    @if (User.Identity.IsAuthenticated)
    {
        <a href="@Url.Action("Edit", new { id = Model.AirplaneType.AirplaneTypeID })" class="btn btn-primary pull-right">
            <span class="glyphicon glyphicon-edit"></span> @Resources.Label.Edit
        </a>
    }

    <h2>@ViewBag.Title</h2>
</div>

<div class="col-md-4">
    <h3>
        @Resources.Domain.AirplaneTypeInformation
    </h3>

    <dl class="dl-horizontal">
        <dt>@Resources.Domain.ICAONumber</dt>
        <dd>
            @Model.AirplaneType.ICAO
        </dd>
        <dt>
            @Resources.Domain.AverageSpeed
        </dt>
        <dd>
            @Model.AirplaneType.AverageSpeed <span class="small">km/h</span>
        </dd>
        <dt>
            @Resources.Domain.MaximumSpeed
        </dt>
        <dd>
            @Model.AirplaneType.MaximumSpeed <span class="small">km/h</span>
        </dd>
        <dt>
            @Resources.Domain.NumberOfAirplanes
        </dt>
        <dd>
            @Model.Airplanes.Count()
        </dd>
    </dl>
</div>

<div class="col-md-8">
    <img class="img-responsive img-thumbnail" src="@Model.AirplaneType.ImageURL" alt="@Model.AirplaneType.Name" />
</div>

<ul class="nav nav-tabs">
    <li class="active">
        <a href="#airplanes" data-toggle="tab">
            <h5>
                @Resources.Domain.Airplanes
            </h5>
        </a>
    </li>
    <li>
        <a href="#flights" data-toggle="tab">
            <h5>
                @Resources.Domain.Flights
            </h5>
        </a>
    </li>
</ul>

<div class="tab-content col-xs-12">
    <div id="airplanes" class="tab-pane in active">
        @{
            ViewBag.HideAirplaneType = true;
            ViewBag.DisplayOwner = true;
            @Html.Partial("~/Views/Shared/_AirplanesPartial.cshtml", Model.Airplanes)
        }

    </div>
    <div id="flights" class="tab-pane in">

        @Html.Partial("~/Views/Shared/_FlightsPartial.cshtml", Model.Flights)

    </div>
</div>

@section Scripts
{
    <script>
    </script>
}
