﻿
@model Nebo24.Models.AirplaneType

@{
    if (ViewBag.Editing == null)
    {
        ViewBag.Title = Resources.Label.CreateAirplaneType;
    }
    else
    {
        ViewBag.Title = Resources.Domain.AirplaneType + ": " + Model.Name;
    }
}

<h2>@ViewBag.Title</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.Partial("~/Views/Shared/_ValidationSummaryPartial.cshtml")

        <fieldset class="col-sm-6">
            <legend>@Resources.Domain.AirplaneTypeInformation</legend>
            <div class="form-group">
                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ICAO, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.ICAO, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ICAO, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.AverageSpeed, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    <div class="input-group">
                        @Html.EditorFor(model => model.AverageSpeed, new { htmlAttributes = new { @class = "form-control" } })
                        <span class="input-group-addon">km/h</span>
                    </div>
                    @Html.ValidationMessageFor(model => model.AverageSpeed, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.MaximumSpeed, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    <div class="input-group">
                        @Html.EditorFor(model => model.MaximumSpeed, new { htmlAttributes = new { @class = "form-control" } })
                        <span class="input-group-addon">km/h</span>
                    </div>
                    @Html.ValidationMessageFor(model => model.MaximumSpeed, "", new { @class = "text-danger" })
                </div>
            </div>
        </fieldset>
        
        <div class="col-sm-6">
            <img class="img-responsive img-thumbnail" src="@Model.ImageURL" id="AirplaneTypeImage" />

            <div class="form-group">
                @Html.LabelFor(model => model.ImageURL, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.ImageURL, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ImageURL, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        @Html.Partial("~/Views/Shared/_BackSaveDiscardButtonsPartial.cshtml")

    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/small-map-editor.js")
    <script>
        document.getElementById('ImageURL').addEventListener('change', function()
        {
            document.getElementById('AirplaneTypeImage').setAttribute('src', this.value);
        })
    </script>
}






