﻿
@model IEnumerable<Nebo24.Models.AirplaneType>

@{
    ViewBag.Title = Resources.Domain.AirplaneTypes;
}

<div class="header">
    @if (User.Identity.IsAuthenticated)
    {
        <a href="@Url.Action("Create")" class="btn btn-primary pull-right">
            <span class="glyphicon glyphicon-plus"></span> @Resources.Label.CreateAirplaneType
        </a>
    }

    <h2>@ViewBag.Title</h2>
</div>

@if (Model.Count() > 0)
{
    ViewBag.DisplayOwner = true;
    @Html.Partial("~/Views/Shared/_AirplaneTypesPartial.cshtml", Model)
}
else {
    <div class="alert alert-info">
        <span class="btn-lg glyphicon glyphicon-info-sign"></span>
        @Resources.Domain.NoAirplaneTypesToShow
    </div>
}