﻿@model IEnumerable<Nebo24.Models.ApplicationUser>

@{ 
    ViewBag.Title = Resources.Label.Administrators;
}

<h2>
    @ViewBag.Title
</h2>

<ul>
    @foreach (var user in Model)
    {
        <li>
            @user.UserName
        </li>
    }
</ul>