﻿html {
    height: 100%;
}

body {
    background-image: url('/Content/Images/images_clip-art_Clue_Clue_Simple_Clouds.svg');
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-color: #559dcc;
    background-attachment: fixed;
	font-family: sans-serif;
	color: darkgrey;
    height: 100%;
}

.wrapper {
    position: relative;
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by its height */
    margin: 0 auto -125px 0;
    /* Pad bottom by footer height */
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
/*
input,
select,
textarea {
    max-width: 280px;
}
*/

#map-container {
    background-image: url('/Content/Images/world-map.png');
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #84B4E4;
	width: 100%;
	height: 75vh;
    margin-bottom: 5px;
	min-height: 350px;
    padding: 0;
}

#map-canvas {
	width: 100%;
	height: 100%;
}

#map-resizer {
	height: 5px;
	width: 100%;
	display: block;
	background-color: steelblue;
	padding-bottom: 10px;
	cursor: s-resize;
}

#map-resizer:hover {
	background-color: lightblue;
}

#small-map {
    height: 250px;
}

.navbar {
    margin-bottom: 0;
}

.navbar-nav > li > a {
    text-transform: uppercase;
}

.navbar-default .navbar-nav > li > a:hover {
    background-color: #efefef;
}

.navbar-default .navbar-nav > li.open > .dropdown-menu {
    display: inline-block;
}

/* FLAGS */
.flag-icon-background {
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
}
.flag-icon {
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
  position: relative;
  display: inline-block;
  width: 1.33333333em;
  line-height: 1em;
}
.flag-icon:before {
  content: "\00a0";
}

.dropdown-menu.cultures {
    min-width: 300px;
    float: left;
}

.dropdown-menu.cultures span.language {
    width: 75px;
    display: inline-block;
    position: absolute;
    right: 0;
}
.dropdown-menu.cultures a:link span.language, .dropdown-menu.cultures a:visited span.language {
    color: darkgrey;
}
.dropdown-menu.cultures a:hover span.language, .dropdown-menu.cultures a:active span.language {
    color: white;
}

.flag-icon-en-US {
    background-image: url(/Content/Images/Flags/us.svg);
}
.flag-icon-en-GB {
    background-image: url(/Content/Images/Flags/gb.svg);
}
.flag-icon-de-DE {
    background-image: url(/Content/Images/Flags/de.svg);
}
.flag-icon-de-AT {
    background-image: url(/Content/Images/Flags/at.svg);
}
.flag-icon-it-IT {
    background-image: url(/Content/Images/Flags/it.svg);
}
.flag-icon-hr-HR {
    background-image: url(/Content/Images/Flags/hr.svg);
}
.flag-icon-hr-BA {
    background-image: url(/Content/Images/Flags/ba.svg);
}

.container {
    background-color: white;
    color: darkgrey;
}

.tab-content {
    margin: 0;
    padding: 0;
}

.tab-page {
    margin: 0;
    padding: 0;
}

.jumbotron {
    background-color: cornflowerblue;
    color: white;
}

.well {
    border-top-left-radius: 0;
}

.container:after {
  height: 150px; 
}

footer {
    position: absolute;
    bottom: 0px;
    min-width: 100%;
    height: 115px;
    padding: 15px 20px;
    border-top: 5px solid white;
    color: white !important;
    background-color: #559dcc;
}

footer a {
    color: white;
    text-decoration: underline;
}

footer a:hover, footer a:visited, footer a:active {
    color: lightyellow;
}

footer .sponsor {
    font-size: 0.825em;
    margin: 0 auto;
}

@media (max-width: 767px) {
    footer {
      margin-left: -20px;
      margin-right: -20px;
      padding-left: 20px;
      padding-right: 20px;
    }
}

footer .sponsor img {
    background-color: #333;
    padding: 10px;
}
