﻿@using Nebo24.Helpers;
@{
    ViewBag.Title = "Home Page";
}

@Html.Partial("_LargeMap")
<!--
<div class="container">
    <div class="jumbotron">
        <h1>@Resources.App.Name</h1>
        <p class="lead">Track commercial and private airplane flights in real time, filter by stated and actual departure and arrival time, departure point and destination, status and more!</p>
        <p>@Html.ActionLink("Commercial flights", "Index", "CommercialFlight", null, new { @class = "btn btn-primary btn-lg" })</p>
    </div>
</div>
-->

@section Scripts
{
    @Scripts.Render("/Scripts/map-controller.js")

    <script>
        var format = '@CultureDateTimeFormat.ShortDateTimePattern()';
        $(document).ready(initialize('@Resources.Label.Details', '@Resources.Domain.Departures', '@Resources.Domain.Arrivals'));
    </script>
}