﻿
<fieldset class="col-md-12" id="AirplaneTypeInformation">
    <legend>
        @Resources.Domain.AirplaneTypeInformation
        <span class="label btn btn-danger pull-right" id="AirplaneTypeCloseButton">
            <span class="glyphicon glyphicon-remove"></span>
        </span>
    </legend>
    <div id="AirplaneTypeInformationContainer"></div>
</fieldset>
