﻿@model IEnumerable<Nebo24.Models.Airplane>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>@Resources.Domain.AirplaneRegistration</th>
                @if (ViewBag.HideAirplaneType == null)
                {
                    <th>@Resources.Domain.AirplaneType</th>
                }
                @if (ViewBag.DisplayOwner != null)
                {
                    <th>@Resources.Domain.CompanyOwner</th>
                }
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.Registration
                    </td>
                    @if (ViewBag.HideAirplaneType == null)
                    {
                        <td>
                            @Html.ActionLink(item.Type.Name + " (" + @item.Type.ICAO + ")", "Details", "AirplaneType", new { id = item.AirplaneTypeID }, null)
                        </td>
                    }
                    @if (ViewBag.DisplayOwner != null)
                    {
                        <td>
                            @Html.ActionLink(item.Company.Name, "Details", "Company", new { id = item.CompanyID }, null)
                        </td>
                    }
                    <td>
                        <div class="btn-group pull-right">
                            @if (User.Identity.IsAuthenticated)
                            {
                                <a href="@Url.Action("Edit", "Airplane", new { id = item.AirplaneID })" class="btn btn-success" title="@Resources.Label.Edit">
                                    <span class="glyphicon glyphicon-edit"></span> 
                                    <span class="hidden-xs hidden-sm">@Resources.Label.Edit</span>
                                </a>
                                <a href="@Url.Action("Delete", "Airplane", new { id = item.AirplaneID })" class="btn btn-danger" title="@Resources.Label.Delete">
                                    <span class="glyphicon glyphicon-trash"></span> 
                                    <span class="hidden-xs hidden-sm">@Resources.Label.Delete </span>
                                </a>
                            }
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>