﻿@model IEnumerable<Nebo24.Models.AirplaneType>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>@Resources.Domain.Name</th>
                <th>@Resources.Domain.ICAONumber</th>
                <th>@Resources.Domain.AverageSpeed <span class="small">km/h</span></th>
                <th>@Resources.Domain.MaximumSpeed <span class="small">km/h</span></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.Name
                    </td>
                    <td>
                        @item.ICAO
                    </td>
                    <td>
                        @item.AverageSpeed
                    </td>
                    <td>
                        @item.MaximumSpeed
                    </td>
                    <td>
                        <div class="btn-group pull-right">
                            <a href="@Url.Action("Details", new { id = item.AirplaneTypeID })" class="btn btn-info" title="@Resources.Label.Details">
                                <span class="glyphicon glyphicon-info-sign"></span>
                                <span class="hidden-xs hidden-sm">@Resources.Label.Details</span>
                            </a>
                            @if (User.Identity.IsAuthenticated)
                            {
                                <a href="@Url.Action("Edit", new { id = item.AirplaneTypeID })" class="btn btn-success" title="@Resources.Label.Edit">
                                    <span class="glyphicon glyphicon-edit"></span>
                                    <span class="hidden-xs hidden-sm">@Resources.Label.Edit</span>
                                </a>
                                <a href="@Url.Action("Delete", new { id = item.AirplaneTypeID })" class="btn btn-danger" title="@Resources.Label.Delete">
                                    <span class="glyphicon glyphicon-trash"></span>
                                    <span class="hidden-xs hidden-sm">@Resources.Label.Delete </span>
                                </a>
                            }
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
