﻿<div class="form-group col-xs-offset-2 col-xs-10">
    <div class="btn-block">
        <a href="@Url.Action("Index")" class="btn btn-info">
            <span class="glyphicon glyphicon-step-backward"></span>
            @Resources.Label.BackToList
        </a>
        <button type="submit" class="btn btn-primary">
            <span class="glyphicon glyphicon-floppy-save"></span>
            @Resources.Label.Save
        </button>
        <button type="reset" class="btn btn-danger">
            <span class="glyphicon glyphicon-remove-sign"></span>
            @Resources.Label.Discard
        </button>
    </div>
</div>
