﻿@model Nebo24.ViewModels.FlightsFilterViewModel

@{ ViewBag.FilterByAirport = (ViewBag.FilterByAirport != null || Model.DepartureAirportID.HasValue && Model.DestinationAirportID.HasValue); }

<form method="get">
    <div class="well col-xs-12">
        <div class="col-xs-12 col-sm-11 col-md-10">
            <div class="col-xs-12 col-sm-6">
                <label class="control-label" for="DepartureTime">
                    @Resources.Domain.DepartureTime @Resources.Domain.From.ToLower()
                </label>
                <div class="input-group date col-xs-12" id="FilterDateTimeFrom-input">
                    @Html.EditorFor(model => model.DepartureTime, new { htmlAttributes = new { @class = "form-control" } })
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>

                @Html.ValidationMessageFor(model => model.DepartureTime, "", new { @class = "text-danger" })

                @if (ViewBag.FilterByAirport)
                {
                    <label class="control-label" for="DepartureAirportID">
                        @Resources.Domain.DepartureAirport
                    </label>
                    <div class="form-group">
                        @Html.DropDownList("DepartureAirportID", null, "", new { @class = "form-control" })
                    </div>
                    @Html.ValidationMessageFor(model => model.DepartureAirportID, "", new { @class = "text-danger" })
                }
            </div>
            <div class="col-xs-12 col-sm-6">
                <label class="control-label" for="ArrivalTime">
                    @Resources.Domain.DepartureTime @Resources.Domain.To.ToLower()
                </label>
                <div class="input-group date col-xs-12" id="FilterDateTimeTo-input">
                    @Html.EditorFor(model => model.ArrivalTime, new { htmlAttributes = new { @class = "form-control" } })
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
                @Html.ValidationMessageFor(model => model.ArrivalTime, "", new { @class = "text-danger" })

                @if (ViewBag.FilterByAirport)
                {
                    <label class="control-label" for="DestinationAirportID">
                        @Resources.Domain.DestinationAirport
                    </label>
                    <div class="form-group">
                        @Html.DropDownList("DestinationAirportID", null, "", new { @class = "form-control" })
                    </div>
                    @Html.ValidationMessageFor(model => model.DestinationAirportID, "", new { @class = "text-danger" })
                }
            </div>
        </div>
        <div class="col-xs-12 col-sm-1 col-md-2">
            <label class="control-label col-lg-12"></label>
            <div class="btn-group">
                <button class="btn btn-default" type="submit" title="@Resources.Label.Filter">
                    <span class="glyphicon glyphicon-filter"></span>
                    <span class="hidden-sm">
                        @Resources.Label.Filter
                    </span>
                </button>
                @if (ViewBag.FilterByAirport)
                {
                    <button class="btn btn-default" type="button" id="SwapAirportsButton" title="@Resources.Label.Swap">
                        <span class="glyphicon glyphicon-flash"></span>
                        <span class="hidden-sm">
                            @Resources.Label.Swap
                        </span>
                    </button>
                    <a href="@Url.Action("Index")" class="btn btn-default" type="reset" title="@Resources.Label.Discard">
                        <span class="glyphicon glyphicon-remove"></span>
                        <span class="hidden-sm">
                            @Resources.Label.Discard
                        </span>
                    </a>
                }
            </div>
        </div>
    </div>

</form>
