﻿@model Nebo24.ViewModels.CommercialFlightsViewModel

@if (Model.CommercialFlights.Count() > 0)
{
    <div class="table-responsive col-xs-12">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th><abrr title="Number">No.</abrr></th>
                    <th>@Resources.Domain.Departure</th>
                    <th>@Resources.Domain.Arrival</th>
                    <th>@Resources.Domain.FlightStatus</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.CommercialFlights)
                {
                    <tr>
                        <td>
                            <strong>@item.Number</strong>
                        </td>
                        <td>
                            @item.DepartureAirport.Name
                            <div>
                                <span class="glyphicon glyphicon-globe"></span>
                                @item.DepartureAirport.AdmLoc.Location
                            </div>
                            <div>
                                <span class="glyphicon glyphicon-time"></span>
                                @item.STD
                            </div>
                        </td>
                        <td>
                            @item.DestinationAirport.Name
                            <div>
                                <span class="glyphicon glyphicon-map-marker"></span>
                                @item.DestinationAirport.AdmLoc.Location
                            </div>
                            <div>
                                <span class="glyphicon glyphicon-time"></span>
                                @item.STA
                            </div>
                        </td>
                        <td>
                            @{

                                @Html.Partial("~/Views/Shared/_FlightStatusPartial.cshtml", item)

                                double? late;
                                if (Model.Delay != null)
                                {
                                    Model.Delay.TryGetValue(item.FlightID, out late);
                                    if (late != null)
                                    {
                                        <div class="label label-warning block-message">
                                            @Resources.Domain.Late @late.ToString() m
                                        </div>
                                    }
                                }
                            }
                        </td>
                        <td>
                            <div class="btn-group pull-right">
                                <a href="@Url.Action("Details", "CommercialFlight", new { id = item.FlightID })" class="btn btn-info" title="@Resources.Label.Details">
                                    <span class="glyphicon glyphicon-info-sign"></span>
                                    <span class="hidden-xs hidden-sm hidden-md">@Resources.Label.Details</span>
                                </a>
                                @if (User.Identity.IsAuthenticated)
                                {
                                    <a href="@Url.Action("Edit", "CommercialFlight", new { id = item.FlightID })" class="btn btn-success" title="@Resources.Label.Edit">
                                        <span class="glyphicon glyphicon-edit"></span>
                                        <span class="hidden-xs hidden-sm hidden-md">@Resources.Label.Edit</span>
                                    </a>
                                        <a href="@Url.Action("Delete", "CommercialFlight", new { id = item.FlightID })" class="btn btn-danger" title="@Resources.Label.Delete">
                                            <span class="glyphicon glyphicon-trash"></span>
                                            <span class="hidden-xs hidden-sm hidden-md">@Resources.Label.Delete</span>
                                        </a>
                                }
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
else {
    <div class="alert alert-info">
        <span class="btn-lg glyphicon glyphicon-info-sign"></span> 
        @Resources.Domain.NoFlightsToShow
    </div>
}