﻿@model Nebo24.Models.CommercialFlight
@{
    switch ((int)Model.Status)
    {
        case 0:
            <text>
                <span class="label label-primary">
                    @Resources.FlightStatuses.TookOff
                </span>
            </text>
            break;
        case 1:
            <text>
                <span class="label label-success">
                    @Resources.FlightStatuses.Landed
                </span>
            </text>
            break;
        case 2:
            <text>
                <span class="label label-danger">
                    @Resources.FlightStatuses.Canceled
                </span>
            </text>
            break;
        case 3:
            <text>
                <span class="label label-info">
                    @Resources.FlightStatuses.Pending
                </span>
            </text>
            break;
        case 4:
            <text>
                <span class="label label-default">
                    @Resources.FlightStatuses.Crashed
                </span>
            </text>
            break;
        case 5:
            <text>
                <span class="label label-default">
                    @Resources.FlightStatuses.Hijacked
                </span>
            </text>
            break;
        default:
            <text>
                <span class="label label-default">
                    @Resources.FlightStatuses.Unknown
                </span>
            </text>
            break;
    }
}