﻿<!DOCTYPE html>
<html lang="@UICulture.ToString()">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - @Resources.App.Name</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/bootstrap-datetimepicker.min.css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="wrapper">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">@Resources.Label.ToggleNavBar</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink(Resources.App.Name, "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="@Url.Action("Index", "CommercialFlight")">
                                @Resources.Domain.Flights
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index", "Airport")" >
                                @Resources.Domain.Airports
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index", "Company")">
                                @Resources.Domain.Companies
                            </a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                @Resources.Domain.Airplanes
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="@Url.Action("Index", "Airplane")">
                                        @Resources.Domain.AllAirplanes
                                    </a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Index", "AirplaneType")">
                                        @Resources.Domain.AirplaneTypes
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <!--
                    <form class="navbar-form navbar-left" role="search">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Search">
                        </div>
                        <button type="submit" class="btn btn-default">Submit</button>
                    </form>
                    -->
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </nav>

        @if (Url.RequestContext.RouteData.Values["controller"].ToString() == "Home" &&
             Url.RequestContext.RouteData.Values["action"].ToString() == "Index")
        {
            @RenderBody();
        }
        else
        {
            <div class="body-content container">
                @RenderBody()
            </div>
        }

        <footer>
            <div class="col-xs-8">
                <p>
                    &copy; @DateTime.Now.Year - @Resources.App.Name (<a href="@Resources.App.URL">@Resources.App.URL</a>)
                    <div>
                        <span class="h3">
                            @Resources.App.Company,
                        </span>
                        <span class="h3 text-capitalize">
                            <a href="https://www.fer.unizg.hr">
                                FER
                            </a>
                        </span>
                    </div>
            </div>
            <div class="col-xs-4 sponsor pull-right">
                <div>
                    Windows Cloud Hosting
                </div>
                <a href="https://www.terrakom.hr">
                    <img src="https://www.terrakom.hr/static/images/terrakom-logo-small.png?adff6ba9506ca814" class="img-responsive" alt="Terrakom" />
                </a>
            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Scripts/moment-with-locales.min.js")
    @Scripts.Render("~/Scripts/bootstrap-datetimepicker.min.js")
    <script src="https://maps.googleapis.com/maps/api/js?language=@UICulture"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
