﻿@using Microsoft.AspNet.Identity
@helper Truncate(string input, int length)
{
if (input.Length <= length)
{
        @input
}
else
{
        @input.Substring(0, length)<text>...</text>
}
}

<ul class="nav navbar-nav navbar-right">
    <li class="dropdown" role="presentation">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" title="@Resources.Label.ChooseCulture">
            @if (@UICulture != "en")
            {
                <span class="flag-icon flag-icon-@UICulture"></span>
            }
            else
            {
                <span class="glyphicon glyphicon-globe"></span>
            }
            <span class="hidden-sm hidden-md hidden-lg">
                @Resources.Label.CountryAndLanguage
            </span>
        </a>
        <ul class="dropdown-menu cultures">
            <li class="dropdown-header">
                <span class="hidden-xs">
                    <span class="glyphicon glyphicon-globe"></span>
                    @Resources.Label.CountryAndLanguage
                </span>
            </li>
            <li class="divider" role="separator"></li>
            <li>
                <a href="@Url.Action("SetCulture", "Home", new { culture = "en-US" })">
                    <span class="flag-icon flag-icon-en-US"></span> United States <span class="language">English</span>
                </a>
            </li>
            <li>
                <a href="@Url.Action("SetCulture", "Home", new { culture = "en-GB" })">
                    <span class="flag-icon flag-icon-en-GB"></span> United Kingdom <span class="language">English</span>
                </a>
            </li>
            <li>
                <a href="@Url.Action("SetCulture", "Home", new { culture = "de-DE" })">
                    <span class="flag-icon flag-icon-de-DE"></span> Deutschland <span class="language">Deutsch</span>
                </a>
            </li>
            <li>
                <a href="@Url.Action("SetCulture", "Home", new { culture = "de-AT" })">
                    <span class="flag-icon flag-icon-de-AT"></span> Österreich <span class="language">Deutsch</span>
                </a>
            </li>
            <li>
                <a href="@Url.Action("SetCulture", "Home", new { culture = "it-IT" })">
                    <span class="flag-icon flag-icon-it-IT"></span> Italia <span class="language">Italiano</span>
                </a>
            </li>
            <li>
                <a href="@Url.Action("SetCulture", "Home", new { culture = "hr-HR" })">
                    <span class="flag-icon flag-icon-hr-HR"></span> Hrvatska <span class="language">Hrvatski</span>
                </a>
            </li>

        </ul>
    </li>
    <li>
        <a href="#" id="toggleMap" role="button" title="@Resources.Label.ToggleMap">
            <span class="glyphicon glyphicon-map-marker"></span> 
            <span class="hidden-sm hidden-md hidden-lg">
                @Resources.Label.ToggleMap
            </span>
            <span id="toggleMapZoom">

            </span>
        </a>
    </li>
    @if (!User.Identity.IsAuthenticated)
    {
        <li>
            <a href="@Url.Action("Login", "Account")">
                <span class="glyphicon glyphicon-log-in"></span> 
                <span class="hidden-sm">
                    @Resources.Label.LogIn
                </span>
            </a>
        </li>
    }
    else
    {
        <li class="dropdown" role="presentation">

            <a href="#" class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false" data-toggle="dropdown" title="@Resources.Label.Administrator">
                <span class="glyphicon glyphicon-lock"></span> 
                <span class="hidden-sm hidden-md">
                    @Resources.Label.Administrator
                </span>
            </a>
            <ul class="dropdown-menu">
                @if (Request.IsAuthenticated)
                {
                    <li class="text-center" title="@User.Identity.Name">
                        <span class="glyphicon glyphicon-user"></span> @Truncate(User.Identity.Name, 15)
                    </li>
                    <li class="divider" role="separator"></li>
                    <li class="dropdown-header">@Resources.Label.ApplicationManagement</li>
                    <li>
                        <a href="@Url.Action("Index", "Manage")">
                            <span class="glyphicon glyphicon-cog"></span>
                            @Resources.Label.ManageMyAccount
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Administrators", "Account", null)">
                            <span class="glyphicon glyphicon-list-alt"></span> 
                            @Resources.Label.Administrators
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Register", "Account")" class="" id="registerLink">
                            <span class="glyphicon glyphicon-asterisk"></span>
                            @Resources.Label.RegisterNewAdministrator
                        </a>
                    </li>
                    <li class="divider" role="separator"></li>
                    <li>
                        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                    {
                            @Html.AntiForgeryToken()
                        }
                        <a href="javascript:document.getElementById('logoutForm').submit()"><span class="glyphicon glyphicon-log-out"></span> @Resources.Label.LogOff</a>
                    </li>
                }
                else
                {
                    <li>
                        <a href="@Url.Action("Login", "Account")" class="" id="loginLink">
                            <span class="glyphicon glyphicon-log-in"></span>
                            @Resources.Label.LogIn
                        </a>
                    </li>
                }
            </ul>
        </li>
    }
</ul>