﻿@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = Resources.Label.Error;
}

<div class="container">
    <h1 class="text-danger">@ViewBag.Title</h1>
    <h2 class="text-danger">@Resources.Label.ErrorDuringRequest</h2>
</div>

