﻿@model Nebo24.Models.Airplane

@{
    if (ViewBag.Editing == null)
    {
        ViewBag.Title = Resources.Label.CreateAirplane;
    }
    else
    {
        ViewBag.Title = Resources.Domain.Airplane + ": " + Model.Registration;
    }
}

<h2>@ViewBag.Title</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.Partial("~/Views/Shared/_ValidationSummaryPartial.cshtml")

        <div class="col-sm-6">
            <div class="form-group">
                @Html.LabelFor(model => model.Registration, htmlAttributes: new { @class = "control-label col-lg-4" })
                <div class="col-sm-12 col-lg-8">
                    @Html.EditorFor(model => model.Registration, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Registration, "", new { @class = "text-danger" })
                </div>
            </div>


            <div class="form-group">
                @Html.LabelFor(model => model.AirplaneTypeID, htmlAttributes: new { @class = "control-label col-lg-4" })
                <div class="col-sm-12 col-lg-8">
                    @Html.DropDownList("AirplaneTypeID", (SelectList)ViewBag.AirplaneTypes, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Type, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.CompanyID, htmlAttributes: new { @class = "control-label col-lg-4" })
                <div class="col-sm-12 col-lg-8">
                    @Html.DropDownList("CompanyID", (SelectList)ViewBag.Companies, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.CompanyID, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            @Html.Partial("~/Views/Shared/_AirplaneTypeInformationPartial.cshtml")
        </div>

        @Html.Partial("~/Views/Shared/_BackSaveDiscardButtonsPartial.cshtml")
        
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/airplane-type-helper.js")
}




